@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

body {
    display: flexbox;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header > img{
    width: 89px;
    height: 25px;
    margin:0 16px ;
    margin-top: 22px;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
}

header > button {
    margin-left: 114px;
    margin-top: 16px;
    margin-right: 16px;
}

.btn-1 {
    width: 140px;
    height: 48px;
    border-radius: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    border: none;
    background: #13183F;
    color: white;
}

.title-1 {
    width: 343px;
    height: 101px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
    margin: 0 16px;
    margin-top: 38px;
}

.paragraph-1 {
    width: 343px;
    height: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin: 0 16px;
    margin-top: 26px;
}

.btn-2 {
    width: 167px;
    height: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin: 0 16px;
    margin-top: 24px;
}

section-2 {
    display: flex;
    justify-content: center;
    
}
 
.info-container  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 413px;
    margin-bottom: 80px;
}

.block-1{
    width: 343px;
    height: 120px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
}


.block-1 > p {
    width: 286px;
    height: 64px;
    padding: 0 28px;
    padding-top: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: white;
}
.block-2 > img {
    margin-top: -30px;
}

.block-3 > img {
    margin-top: -30px;
}
.block-4 > img {
    margin-top: -30px;
}
.block-5 > img {
    margin-top: -30px;
}
.block-6 > img {
    margin-top: -30px;
}

.block-2 {
    width: 343px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
}

.block-3 {
    width: 343px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
}

.block-4 {
    width: 343px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
}

.block-5 {
    width: 343px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
}

.block-6 {
    width: 343px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
}

.animation {
    width: 101px;
    height: 25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin: 0 28px;
    margin-top: 24px;
}

.animation-1 {
    width: 286px;
    height: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin: 0 28px;
    margin-top: 16px;
}

.design {
    width: 68px;
    height: 25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin: 0 28px;
    margin-top: 24px;
}

.design-1 {
    width:286px;
    height: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin: 0 28px;
    margin-top: 16px;
}

.photo {
    width: 129px;
    height: 25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin: 0 28px;
    margin-top: 24px;
}
.photo-1 {
    width: 286px;
    height: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin: 0 28px;
    margin-top: 16px;
}

.crypto {
    width: 70px; 
    height: 25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin: 0 28px;
    margin-top: 24px;
}

.crypto-1 {
    width: 286px;
    height: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin: 0 28px;
    margin-top: 16px;
}

.business {
    width: 87px;
    height: 25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin: 0 28px;
    margin-top: 24px;
}

.business-1 {
    width: 286px;
    height: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin: 0 28px;
    margin-top: 16px;
    
}

.btn-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: white;
    color: #F74780;
    margin: 0 28px;
    margin-top: 24px;
}

.btn-4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: white;
    color: #F74780;
    margin: 0 28px;
    margin-top: 24px;
}

.btn-5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: white;
    color: #F74780;
    margin: 0 28px;
    margin-top: 24px;
}

.btn-6 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: white;
    color: #F74780;
    margin: 0 28px;
    margin-top: 24px;
}

.btn-7 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border: none;
    background: white;
    color: #F74780;
    margin: 0 28px;
    margin-top: 24px;
}

footer {
    width: 100%;
    height: 120px;
    background: #13183F;
    display: flex;
    justify-content: space-between;
}

footer > img {
    width: 89px;
    height: 25px;
    margin: 0 16px;
    margin-top: 43px;
}

footer > button {
    margin-left: 114px;
    margin-top: 16px;
    margin-right: 16px;
}

.btn-8 {
    width: 140px;
    height: 48px;
    border-radius: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    border: none;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    color: white;
    margin-top: 36px;
}

/*mobile*/
 
@media  screen and (min-width: 360px) {

    
   .ds {
    display: none;
   }

    div > .mobile {
        display: flex;
        align-content: center;
    }
    .tablet{
        display: none;
    }
    
    .desktop {
        display: none;
    }
}

@media  screen and (min-width: 768px) {
    
    header > img {
        margin: 0 2.4em;
        margin-top: 1.4em;
    }

    header > button {
        margin-top: 1.5em;
        margin-right: 2.5em;
    }
    
    .ds {
        display: none;
    }

    .title-1 {
        height: 101px;
        margin: 0 1.4em;
        margin-top: 2.33em;
    }

    .paragraph-1 {
        width: 398px;
        padding: 0 2.4em;
    }

    .btn-2 {
        margin: 0 3.1em;
        margin-top: 1em;
    }

    section-2 {
        display: flex;
        justify-content: center;
    }

    .block-1 {
        width: 339px;
        height: 259px;
    }
    .block-2 {
        width: 339px;
    }
    .block-3 {
        width: 339px;
    }
    .block-4 {
        width: 339px;
    }
    .block-5 {
        width: 339px;
    }
    .block-6 {
        width: 339px;
    }

    .info-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 56px;
        column-gap: 11px;
        margin-top: 13em;
    }

    footer > img {
        margin: 0 2.4em;
        margin-top: 3em;
    }

    footer > button {
        margin-right: 2.5em;
        margin-top: 1.5em;
    }
}

@media screen and (min-width:1100px) {
    header > img {
        width: 114px;
        height: 45px;
        margin: 0 4.23em;
        margin-top: 0.94em;
    }

    header > button {
        width: 167px;
        height:56px;
        margin-top: 0.94em;
        margin-right: 165px;
    }

    .btn-1, .btn-2, .btn-8 {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    .title-1 {
        width: 456px;
        height: 143px;
        margin: 0 165px;
        margin-top: 155px;
        font-weight: 800;
    }

    .paragraph-1 {
        width: 445px;
        height: 84px;
        margin: 0 125px;
        margin-top: -30px;
    }

    .btn-2 {
        width: 167px; 
        margin: 0 156px;
        margin-top: 40px;
    }

    .block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
        width: 350px;
        height: 322px;
    }

    .info-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 80px;
        column-gap: 30px;
    }

    footer > img {
        width: 114px;
        height: 45px;
        margin: 0 165px;
        margin-top: 2.4em;
    }

    footer > button {
        width: 167px;
        height:56px;
        margin-top: 0.94em;
        margin-right: 165px;
    }

  

}








